@import url("https://rsms.me/inter/inter.css");

html,
body,
#root {
  position: relative;
  margin: 0;
  padding: 0;
  overflow: hidden;
  outline: none;
  width: 100vw;
  height: 100vh;
}

body {
  background: white;
  font-family: "Inter var", sans-serif;
  display: flex;
  justify-content: center;
}

/* #root {
  width: 100ch;
} */

h1 {
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  padding: 0;
  font-size: 4em;
  font-weight: 800;
  line-height: 0.7em;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #272730;
}

.picker {
  position: absolute !important;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  width: 60% !important;
  height: 90px !important;
}

.side-elements{
  position: absolute;
  right: 1rem;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
}